html, body, p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 0;
    text-align: justify;
}

html, body {
    padding: 0;
    margin: 0;
}

@media (min-width: 720px) {
    html, body, p {
        font-size: 18px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-align: left;
    margin: 0;
    padding: 5px 0;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 30px;
}

p {
    margin: 0;
    padding: 10px 0;
}

body {
    margin: 0;
}

/* Footer */

footer {
    background-color: dimgray;
    padding: 10px;
    color: #fff;
}

footer p {
    text-align: center;
}


/* NAVEGADOR */

header {
    z-index: 9999;
}

/* max-width --> parte movil */
@media (max-width: 1400px) {

    .cont-nav {
        margin-right: auto;
        margin-left: auto;
        padding: 0px 20px;
    }

    header {
        width: 100%;
        border-bottom: 1px solid #ddd;
        height: 60px;
        background: white;
        position: fixed;
        z-index: 9999;
    }

    #menu ul {
        list-style: none;
        float: left;
        padding: 0;
        width: 100%;
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(85, 85, 85, 1);
        -moz-box-shadow: 0px 0px 10px 0px rgba(85, 85, 85, 1);
        box-shadow: 0px 0px 10px 0px rgba(85, 85, 85, 1);
    }

    #menu ul a {
        text-decoration: none;
        /* no underline */
        display: flex;
        padding: 0 15px;
        font-weight: 500;
        font-size: 14px;
        color: #666;
        transition: font-weight 0.12s ease;
        height: 60px;
        align-items: center;
        width: 100%;
    }

    #menu ul li {
        position: relative;
        float: left;
        width: 100%;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #ddd;
        overflow: hidden;
    }

    #menu .actual {
        font-weight: 600;
    }

    #menu ul ul {
        display: none;
    }

    #logo {
        height: 40px;
        float: left;
        padding: 10px 0 10px 0;
    }

    #menu-icon {
        height: 30px;
        float: right;
        padding: 15px 0;
    }

    #menu .nav-lang {
        text-align: center !important;
    }

    #header-gap {
        height: 60px;
    }

    /* Visible, invisible */
    .visible {
        display: block;
    }

    .invisible {
        display: none;
    }

    #menu .nuevos {
        background: #75bf1e;
        color: white;
        font-weight: bold;

    }

    #menu .highlight {
        background: #821c43;
        color: white;
        font-weight: bold;

    }

    .img_center_and_margin {
        margin: 1rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .hide_in_phone{
        display: none;
    }
}

@media (min-width: 1400px) {
    /* Parte ancha */
    .cont-nav {
        margin-right: auto;
        margin-left: auto;
        padding: 0px 30px;
    }

    header {
        width: 100%;
        border-bottom: 1px solid #ddd;
        height: 60px;
        background: white;
        position: fixed;
    }

    #menu ul {
        list-style: none;
        position: relative;
        float: right;
        margin: 0;
        padding: 0;
    }

    #menu ul a {
        text-decoration: none;
        /* no underline */
        display: flex;
        padding: 0 15px;
        font-weight: 500;
        font-size: 14px;
        line-height: 32px;
        color: #666;
        transition: font-weight 0.12s ease;
        height: 60px;
        align-items: center;
    }

    #menu ul li {
        position: relative;
        float: left;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    #menu ul ul {
        /*display: none;*/
        transition: display 0.12s ease;
        position: absolute;
        top: 100%;
        left: 0;
        padding: 0;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

    #menu ul li > a:hover {
        font-weight: 600;
        transition: font-weight 0.12s ease;
    }

    #menu ul li:hover > ul {
        display: block;
        transition: display 0.12s ease;
    }

    #menu ul ul li {
        float: none;
        width: 220px;
    }

    #menu ul ul a {
        line-height: 120%;
        padding: 10px 15px;
        font-size: 14px;
        background-color: #fff;
        height: auto;
    }

    #menu ul ul ul {
        top: 0;
        left: 100%;
    }

    #menu .actual {
        font-weight: 600;
    }

    #logo {
        height: 40px;
        float: left;
        padding: 10px 0 10px 0;

    }

    #menu-icon {
        display: none;
    }

    #header-gap {
        height: 60px;
    }

    #menu .nuevos {
        background: #75bf1e;
        border-radius: 5px;
        margin-top: 14px;
        height: 50%;
        color: white;
        font-weight: bold;

    }

    #menu .highlight {
        background: #821c43;
        border-radius: 5px;
        margin-top: 14px;
        margin-left: 2px;
        height: 50%;
        color: white;
        font-weight: bold;

    }

    .img_center_and_margin {
        margin: 1rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .no_wrap {
        white-space: nowrap;
    }
    .hide_in_pc{
        display: none;
    }
}

/* Centrar */
.centered {
    display: table;
    margin-left: auto;
    margin-right: auto;
}


/* Listas */

.lista-normal {
    margin-left: -5px;
}

.lista-normal > li {
    margin: 0;
    padding: 3px 0;
}

.lista-icono {
    margin-left: -23px;
    margin-top: -2px;
}

.lista-icono li {
    list-style: none;
    background-position: 0 5px;
    background-repeat: no-repeat;
    background-size: 23px;
    padding: 7px 0 3px 40px;
}

ul {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.lista-icono #fr {
    background-image: url('../icon/money.png');
}

.lista-icono #design {
    background-image: url('../icon/brush.png');
}

.lista-icono #medios {
    background-image: url('../icon/newspaper.png');
}

.lista-icono #ep {
    background-image: url('../icon/promote.png');
}

.lista-icono #cm {
    background-image: url('../icon/social.png');
}

.lista-icono #it {
    background-image: url('../icon/computer.png');
}

/* Slider */

#slider {
    overflow: hidden;
}

.sliderDiv {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 440px;
    overflow: hidden;
}

.sliderDiv > h1 {
    padding-top: 190px;
    font-size: 40px;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 40px #000;
}

#travelling-slide {
    background-image: url(../media/banner/wide/train.jpg);
    background-attachment: fixed;
}

#friendship-slide {
    background-image: url(../media/banner/wide/friendship.jpg);
    background-attachment: fixed;
}

#learning-slide {
    background-image: url(../media/banner/wide/flipcharts.jpg);
    background-attachment: fixed;
}

#fun-slide {
    background-image: url(../media/banner/wide/fun-sunshine.jpg);
    background-attachment: fixed;
}

#best-slide {
    background-image: url(../media/banner/wide/hashtag-best.jpg);
    background-attachment: fixed;
}

@media (min-width: 720px) {

    #slider {
        overflow: hidden;
    }

    .sliderDiv {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 700px;
        overflow: hidden;
    }

    .sliderDiv > h1 {
        padding-top: 240px;
        font-size: 130px;
        color: #fff;
        text-align: center;
        text-shadow: 0 0 40px #000;
    }


    #travelling-slide {
        background-image: url(../media/banner/wide/train.jpg);
        background-attachment: fixed;
    }

    #friendship-slide {
        background-image: url(../media/banner/wide/friendship.jpg);
        background-attachment: fixed;
    }

    #learning-slide {
        background-image: url(../media/banner/wide/flipcharts.jpg);
        background-attachment: fixed;
    }

    #fun-slide {
        background-image: url(../media/banner/wide/fun-sunshine.jpg);
        background-attachment: fixed;
    }

    #best-slide {
        background-image: url(../media/banner/wide/hashtag-best.jpg);
        background-attachment: fixed;
    }
}

/* Para resolver los problemas que nos da el menu "fixed" con los anclas */

.anchor {
    display: block;
    height: 61px;
    margin-top: -61px;
    visibility: hidden;
}


/* Contenedores específicos */

.white-background {
    background-color: #fff;
    color: #333333;
}

.orange-background {
    background-color: #FAA519;
    color: #fff;
}

.green-background {
    background-color: #69CD28;
    color: #fff;
}

.blue-background {
    background-color: #1973BE;
}


/* Contenedores especificos */
#ebec,
#fibest,
#curso,
#impresoras,
#piramide,
#viajar,
#aprender,
#gente {
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}

#portatil,
#fibest-buscando {
    background-attachment: scroll;
    background-size: cover;
    background-position: right center;
}

@media (min-width: 720px) {
    #sib,
    #fibest,
    #curso,
    #fibest-buscando {
        background-attachment: scroll;
        background-size: cover;
        background-position: center;
    }

    #fibest-buscando,
    #portatil,
    #impresoras,
    #aprender,
    #piramide {
        background-attachment: fixed;
    }
}

#sib {
    background-image: url(../media/div-background/wide/sib500.png);
    color: #fff;
    text-shadow: 0 0 10px #000;
}

#fibest {
    background-image: url(../media/div-background/wide/fibest500.jpg);
    background-color: skyblue;
    background-blend-mode: multiply;
    color: #fff;
    text-shadow: 0 0 10px #1973BE;
}

#curso {
    background-image: url(../media/div-background/wide/ac500.jpg);
    background-color: #ffc77b;
    background-blend-mode: multiply;
    color: #fff;
    text-shadow: 0 0 40px #fff;
}

#fibest-buscando {
    background-image: url(../media/div-background/fibest_buscando.jpg);
    /*background-color: #ffc77b;
    background-blend-mode: multiply;*/
    color: #fff;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
}

#portatil {
    background-image: url(../media/div-background/portatil.jpg);
    background-color: #aaaaaa;
    background-blend-mode: multiply;
    color: #fff;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
}

#impresoras {
    background-image: url(../media/div-background/impresora3d.JPG);
    background-color: #aaa;
    background-blend-mode: multiply;
    color: #fff;
    text-shadow: 0px 0px 20px rgba(55, 55, 55, 0.75);
}
#piramide {
    background-image: url(../media/div-background/piramide.jpg);
    background-color: #aaaaaa;
    background-blend-mode: multiply;
    color: #fff;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.25);
}

#viajar {
    background-image: url(../media/div-background/travel.jpg);
    background-color: #ffffff;
    background-blend-mode: multiply;
    color: #fff;
    text-shadow: 0px 0px 20px rgba(55, 55, 55, 0.55);
}

#aprender {
    background-image: url(../media/div-background/learn.jpg);
    background-color: #aaa;
    background-blend-mode: multiply;
    color: #fff;
    text-shadow: 0px 0px 20px rgba(55, 55, 55, 0.75);
}

#gente {
    background-image: url(../media/div-background/enjoy.jpg);
    background-color: #ffffff;
    background-blend-mode: multiply;
    color: #fff;
    text-shadow: 0px 0px 20px rgba(55, 55, 55, 0.55);
}

#map {
    height: 400px;
    width: 100%;
}


.normal-padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.big-padding {
    padding-top: 35px;
    padding-bottom: 35px;
}

.huge-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.inmense-padding {
    padding-top: 75px;
    padding-bottom: 75px;
}

.iinmense-padding {
    padding-top: 150px;
    padding-bottom: 150px;
}

.crazy-padding {
    padding-top: 200px;
    padding-bottom: 200px;
}

@media (min-width: 1500px) {
    .crazy-padding {
        padding-top: 300px;
        padding-bottom: 300px;
    }
}

.big-title {
    font-size: 60px;
}

.medium-title {
    font-size: 30px;
}

@media (min-width: 720px) {
    /* Parte ancha */
    .big-title {
        font-size: 130px
    }

    .medium-title {
        font-size: 60px;
    }
}

@media (max-width: 720px) {
    .big-title {
        font-size: 80px
    }

    .medium-ti5tle {
        font-size: 60px;
    }
}

.circular {
    border-radius: 50%;
    padding: 0%;
    width: 100%;
}

.contact-icon:hover {
    background-color: #eee;
    border-radius: 20px;
    transition: background-color 0.5s ease-in-out;
}

.contact-icon img {
    width: 60px;
    margin: 0 auto;
}

.patrocinador {
    margin: 10%;
    width: 80%;
}

.nav-lang {
    padding-left: 0;
    display: flex;
    align-content: center;
    padding: 0;
    justify-content: center;
}

.nav-lang {
    display: flex;
    justify-content: space-around;
}

.nav-lang > a {
    color: cadetblue !important;
    padding: 0 5px !important;
    background-color: rgb(240, 240, 240);
    margin: auto;
    display: flex;

    justify-content: space-around;
}

.nav-lang > a:first-child {
    padding-left: 13px !important;
}

.nav-lang > a:last-child {
    padding-right: 13px !important;
}


#galeria-alumni {
    display: grid;
    margin-top: 1rem;
    grid-template-columns: calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6);
}

@media (max-width: 1000px) {
    #galeria-alumni {
        grid-template-columns: calc(100% / 4) calc(100% / 4) calc(100% / 4) calc(100% / 4);
    }
}

@media (max-width: 600px) {
    #galeria-alumni {
        grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    }
}

#galeria-alumni > div {
    padding: 1rem;
}

#galeria-alumni > div > img {
    border-radius: 50%;
    width: 100%;
}

#galeria-alumni > div > p {
    text-align: center;
}


#galeria-miembros{
    display: grid;
    margin-top: 1rem;
    grid-template-columns: calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6) calc(100% / 6);
}

@media (max-width: 1000px) {
    #galeria-miembros {
        grid-template-columns: calc(100% / 4) calc(100% / 4) calc(100% / 4) calc(100% / 4);
    }
}

@media (max-width: 600px) {
    #galeria-miembros {
        grid-template-columns: calc(100% / 3) calc(100% / 3) calc(100% / 3);
    }
}

#galeria-miembros > div {
    padding: 1rem;
}

#galeria-miembros > div > img {
    border-radius: 50%;
    width: 100%;
}

#galeria-miembros > div > p {
    text-align: center;
}


.borde {
    color: #fff;

    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/*Cosas del form*/
.form-hidden {
    opacity: 0;
    height: 0;
    width: 640px;
    transition: 0.3s;

}

.form-shown {
    opacity: 1;
    height: 2093px;
    width: 640px;
    transition: 0.3s;
}

.form-btn {
    background-color: #8169FC;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 22px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 20px;
}

.form-btn:hover {
    opacity: 0.7
}

.no_link {
    text-decoration: none;
}




/* Tabla del horarios de best training month */
.tg {
    border-collapse: collapse;
    border-color: #aabcfe;
    border-spacing: 0;
    width: 100%;
}

.tg td {
    background-color: #e8edff;
    border-color: #aabcfe;
    border-style: solid;
    border-width: 0px;
    color: #54547f;
    overflow: hidden;
    padding: 3px;
    word-break: normal;
}

.tg th {
    background-color: #b9c9fe;
    border-color: #aabcfe;
    border-style: solid;
    border-width: 0px;
    color: #00236d;
    font-weight: normal;
    overflow: hidden;
    padding: 3px;
    word-break: normal;
}

.tg .tg-hmp3 {
    background-color: #D2E4FC;
    text-align: center;
    vertical-align: middle;
}

.tg .tg-0lax {
    text-align: center;
    vertical-align: middle;
}
